html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

button {
    background-color: rgb(22, 11, 119);
    color: white;
    padding: 1rem;
    border-style: none;
    margin: 5rem auto;
    width: 10rem;
    display: block;
}
